:root {
    --text: #f2f2f2;
    --bg: rgba(0,0,0, 0.9);
  }
  html,
  body {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #000;
    background-image: linear-gradient(62deg, #000 0%,#fbab7e 100%);
  }
  form i {
    margin-left: -30px;
    cursor: pointer;
}
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  
  .carousel-container {
    width: 80%;
    height: 40rem;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
  }
  
  .carousel-container .item {
          width: 100%;
          height: 100%;
          position: relative;
          display: inline-block;
          animation: fade 0.3s ease-in-out;
  
  }
  
  .carousel-container .prev,
  .carousel-container .next {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 2rem;
    color: var(--text);
    border-radius: 50%;
    transition: 0.6s ease;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .prev {
    left: 2%;
  }
  
  .next {
    right: 2%;
  }
  
  .carousel-container .prev:focus,
  .carousel-container .prev:hover,
  .carousel-container .next:focus,
  .carousel-container .next:hover {
      background-color: var(--bg);
  }
  
  .active {
    background-color: var(--bg) !important;
  }

  .item .slide-number {
      padding: 0.5rem 0.75rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 0.9375rem;
      font-size: 0.875rem;
      color: var(--text);
      background-color: var(--bg);
    }
  
  .item .image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item .text {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: var(--text);
    background-color: var(--bg);
  }
  
  .text .title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
  
  .dots {
    padding: 0 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .dots .dot {
    width: 1.625rem;
    height: 1.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
  }
  
  .dot:focus,
  .dot:hover {
    background-color: #717171;
  }
  
  @keyframes fade {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 1;
    }
  }
  